<% provide(:title, "新規登録") %>

<div class="main">
  <div class="container">
    <div class="col-md-4 col-md-offset-4 mx-auto">
      <div class="form-wrap">
        <div class="form-group text-center">
          <h2 class="logo-img mx-auto"></h2>
          <p class="form-sub-color">写真や動画をチェックしよう</p>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.text_field :name, autofocus: true, placeholder: "ユーザーネーム", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードの確認", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "登録する", class: "btn btn-primary w-100" %>
          </div>
        <% end %>
      </div>
      <div class="form-wrap">
        <p class="text-center">
          アカウントをお持ちですか？
          <%= link_to "ログインする", new_user_session_path%>
        </p>
      </div>
    </div>
  </div>
</div>