<% provide(:title, "ログイン") %>

<div class="main">
  <div class="container">
    <div class="col-md-4 col-md-offset-4 mx-auto">
      <div class="form-wrap">
        <div class="form-group text-center">
          <h2 class="logo-img mx-auto"></h2>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "ログインする", class: "btn btn-primary w-100" %>
          </div>
        <% end %>

        <br>

      </div>
      <div class="form-wrap">
        <p class="text-center">
          アカウントをお持ちでないですか？
          <%= link_to "登録する", new_user_registration_path%>
        </p>
      </div>
    </div>
  </div>
</div>