<% provide(:title, "投稿") %>

<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        投稿画面
      </div>
      <div class="card-body">
        <%= form_for @post, html: { multipart: true, class: "upload-images p-0 border-0" } do |f| %>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
              <%= image_tag avatar_url(current_user), class: "post-profile-icon" %>
            </div>
            <div class="col pl-0">
              <%= f.text_field :caption, class: "form-control border-0", placeholder: "キャプションを書く" %>
            </div>
          </div>
          <div class="mb-3">
            <%= file_field_tag "images[]", type: :file, multiple: false %>
          </div>
          <%= f.submit "投稿する", class: "primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>